<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZYIXSecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WatchdogApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WatchdogApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZYIXSecurity.Properties.Settings>
            <setting name="MasterHash" serializeAs="String">
                <value />
            </setting>
            <setting name="BaslangicAktif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HedefUygulama" serializeAs="String">
                <value />
            </setting>
        </ZYIXSecurity.Properties.Settings>
        <WatchdogApp.Settings1>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
        </WatchdogApp.Settings1>
        <WatchdogApp.Settings>
            <setting name="SifreHash" serializeAs="String">
                <value />
            </setting>
            <setting name="BaslangicAktif" serializeAs="String">
                <value>False</value>
            </setting>
        </WatchdogApp.Settings>
    </userSettings>
</configuration>